{% extends 'layout.html' %}

{% block title %}Student info{% endblock %}

{% block content %}
<h2>Manage Students' information</h2>

    <p>Students' account infomation</p>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='table_style.css') }}">
		<div class="register">
			<form action="{{ url_for('update_card') }}" method="post" autocomplete="off">
				<div class="msg">{{ msg }}</div>
				<input type="text" name="id" placeholder="Enter Student ID" id="username" required>
				<input type="submit" value="Change card">
			</form>
		</div>

{% endblock %}
