{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Manage Students' information</h2>

    <p>Students' account infomation</p>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">
	</head>
	<body>
		<div class="register">
			<h1>Update users' account</h1>
			<form action="{{ url_for('update_account') }}" method="post" autocomplete="off">
			<input type="hidden" name="username" value="{{ row['Username'] }}" placeholder="Username" id="username" required>
			<label for="username">
					<i>Name</i>
				</label>
				<input type="text" name="name" value="{{ row['Name'] }}" placeholder="Name" id="username" pattern="[A-Za-z]{2,30}" title="Please enter 2-15 letters" required>
				<label for="email">
					<i>Email</i>
				</label>
				<input type="email" name="email" value="{{ row['Email'] }}" placeholder="Email" id="email" required>
				</label>
			<label for="email">
				<i>Status</i>
				</label>
				<input name="status" value="Active"  type="radio" placeholder="" autocomplete="off" required>Activate<br><input name="status" value="Deactivated" type="radio" placeholder="" autocomplete="off" required>Deactivate</>
            <select name="usertype" size="1"width="25"> <option value="Admin">Admin</option>  <option value="Checker">Checker</option></select>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>
<body class="loggedin">
		<nav class="navtop">
 <i><span style=color:#c1c4c8><h3>&copy Privacy 2020.
All rights reserved. <br> Developer:Yeshanew Ale.
 Developer Email:habeshayeshi@gmail.com.</h3></i><div></div>
	</body>	
{% endblock %}