<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="refresh" content="2" charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
		<div class="content">
		<br><br><br><br>
		<div class="msg"><span style=color:green><h1><br><br><br>{{ msg }}<br><br><br></h1></style></div>
		<div class="msg"><span style=color:green><h1><br><br><br>{{ amharic_msg1 }}<br><br><br></h1></style></div>
		</div>
	</body>
</html>